
.tout{
  margin-top: 50px;
  padding:2%
}
/* haut container */
/* .haut-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
    width:100%;
  }
  
  /* équipe et avatar */

   .team-ava-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width:50%;
    
  } 

  .haut-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
    width:100%;
  }
  
  .team-member {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px;
    width: 200px; /* ajustez la largeur en fonction de vos besoins */
  }
  
  .team-member img {
    display: block;
    margin: 0 auto;
    width: 150px; /* ajustez la largeur en fonction de vos besoins */
  }
  
  .team-member-name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .team-member p {
    margin: 0;
    text-align: center;
  }
  

  .ava {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width:50%;
    margin-left:10px;
  }
  
  /* bas container */
  .bas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  /* containers contenant les textes */
  .bitget-container, .telegram-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
  }
  