
  .account {
    position: relative; /* Ajouter cette ligne */
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding:2%;
  }

  #logoava {
  margin: 0 auto;
  padding-bottom: 0.55rem;
  margin-top: 0.5rem;
  }

  #titleaccount {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  }
  .popup-container{
    background-color: #25a4ff;
  }
  
  #idaccount,
  #apiaccount,
  #telegramaccount {
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  
  #idaccount h3,
  #apiaccount h3,
  #telegramaccount h3{
    margin-left: 5rem;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: lighter;
  }
  
  #idaccount p{
    font-size: 20px;
    margin-bottom: 10px;
    color:  #25a4ffc5;
    font-weight: bold;
    margin-left: 7rem;
  }

  #idaccount label{
    margin-left: 7rem;
  }

  #apiaccount p,
  #telegramaccount p{
    margin-left: 7rem;
  }

  #divhideapikey{
    margin-left:20%;
  }

  #divhideapipassword{ 
    margin-left:39%;
  }

  #idaccount h5,
  #apiaccount label,
  #telegramaccount h5 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 7rem;
  }

  #idaccount button,
  #apiaccount button{
    background-color: #f7f7f7;
    color:  #25a4ff;
    padding-left: 10px;
    padding-right: 10px;
    border : none;
    cursor: pointer;
  }

  .popup-pass{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: #f7f7f7;
  }

  .popup-pass p{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #f7f7f7;
    color :#25a4ff;
    cursor: pointer;
}
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .apiinfo {
    margin-left: 20px;
  }
  
  .chatid{
    margin-right: 1rem;
    font-weight: bold;
    margin-left: 7rem;
  }

  #telegramaccount input{
    width:50%
  }


  #logoutaccount {
    background-color: #fa878f;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    align-items: right;
    border: none;
    color:white;
    margin-left: 90%;
    margin-bottom: 1.25rem;
  }
  
  #logoutaccount:hover {
    background-color: #ff767f;
  }
  
  #logoutaccount h3 {
    margin: 0;
    color: #fff;
    font-weight: bold;
  }
  
  


  