.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width:100%;
    padding: 2%;
  }

  #gauche {
    margin-right: 60px;
  }
  
  .droite {
    flex-grow: 1;
  }

  .gauche2{
    width:100%
  }
  .droite2{
    width: 100%;
  }

  .gauche2-divisé{
    display: flex;
    flex-direction: row;
  }

 /* ------------------------------- */

#robot1 {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}
  
#Title {
  text-align: center;
  margin-bottom: 30px;
}
  
#Title h1 {
  font-size: 36px;
  
}
  
 /* ------------------------------- */

  
#Name p{
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 40px;
  
  text-align: center;
  color:  #25a4ffc5;
  font-weight: bold;
  
}
  
#Personnality p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

  /* ------------------------------- */

#Name{
  margin-bottom: 30px;
  width: 60%;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding:10px;
  display: flex;
  flex-direction: column;
}
#actual_state{
  margin-bottom: 30px;

  width: 40%;
  background-color: #25a4ff60;
  border-radius: 10px;
  color: white;
  padding:10px;
}

#actual_state div {
  display: flex;
  align-items: center;
}
#actual_state div p {
  margin-left: 30px;
  margin-top: 10px;
  font-size:25px;

}



#Name{
  margin-right: 15px;
}

#Personnality,
#Options{
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding:10px;
}


#Name h3,
#Personnality h3,
#Options h3{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: lighter;
}

#actual_state h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

#actual_state h5 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: lighter;
  color: white;
}



 /* ------------------------------- */

#Personnality button{
  background-color: #25a4ff60;
  border-radius: 20px;
  margin-top:10px;
  padding: 10px 20px;
  align-self: center;
  border : none;
  display: inline-block;
  cursor: pointer;
}

.auto{
  margin-right:2rem;
  width:20%
}
.manuel{
  margin-right:2rem;
  width:20%
}

#Personnality button.auto:focus {
  background-color:  #25a4ffc5;
}

#Personnality button.auto:hover {
  background-color:  #25a4ffc5;
}

#Personnality button.manuel:focus {
  background-color:  #25a4ffc5;
}

#Personnality button.manuel:hover {
  background-color:  #25a4ffc5;
}

#divhide {
  border-radius: 20px;
  margin-top:10px;
  padding: 10px 20px;
  align-self: center;
  border : none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#divhide h3{
  font-size: 18px;
  margin-bottom: 10px;
  
  font-weight: normal;
  
}

#divhide h5{
  font-size: 15px;
  margin-top : 20px;
  font-weight: lighter;
}

#divhide button{
  margin-left:25px;
  width:20%;
  background-color: #25a4ff60;
}

#Personnality button.calm:hover,
#Personnality button.calm:focus{
  background-color: #25a4ffc5;
  color: white;
}

#Personnality button.medium:hover,
#Personnality button.medium:focus{
  background-color: #c3c3c3;
  color: white;
}

#Personnality button.aggressive:hover,
#Personnality button.aggressive:focus{
  background-color: #ff767f;
  color: white;
}



  /* ------------------------------- */

#Options {
  display: flex;
  flex-direction: column;
  
}

#Options label{
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#Options input {
  margin-bottom: 10px;
  width:100%;
}

#Options button {
  background-color: #25a4ff60;
  border-radius: 20px;
  margin-top:10px;
  padding: 10px 20px;
  align-self: center;
  border : none;
  display: inline-block;
  cursor: pointer;
  width :50%
}

#Options p{
  text-align: end;
  font-size: 15px;
  margin-bottom: 0.25rem;
}


.ligne1,
.ligne2,
.ligne3,
.ligne4,
.lignedubas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}

.principale{
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  padding:10px;
}

.ligne1,
.ligne2,
.ligne3,
.ligne4,
.lignedubas {
  margin-top: 20px; /* pour ajouter un espace entre les deux lignes */
}


.buttonlauchnstop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5rem;
}

.buttonlauchnstop button {
  margin: 0 10px;
}


.stop{
  background-color: #f9c6c9;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  text-align: center;
  justify-items: center;
  width: 25%;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
 
}
.launch {
  background-color: #b9e2ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  text-align: center;
  justify-items: center;
  width: 25%;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
}



.stop:hover {
  background-color: #ff767f;
}

.stop:focus {
  background-color: #ff767f;
}

.launch:hover {
  background-color: #25a4ffc5;
}
.launch:focus {
  background-color: #25a4ffc5;
}

  


  




 
  
  