.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
/*   .elementsgrid {
    display: flex;
    flex-direction: row;
  } */

  #robot1 {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }
  
  #Title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #Title h1 {
    font-size: 36px;
  }
  
 
  #Name h3,
  #Personnality h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #Name p{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color:  #25a4ffc5;
    
  }
  
  
  #Personnality p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #launch {
    background-color: #f9c6c9;
    border-radius: 20px;
    padding: 10px ;
    text-align: center;
    justify-items: center;
    width: 25%;
    display: inline-block;
    /* right : 50%; */
    cursor: pointer;
  }
  
  #launch:hover {
    background-color: #ff767f;
  }
  
  #launch h3 {
    margin: 0;
    color: #fff;
    font-weight: bold;
  }

  
  
  #Name,
  #Personnality,
  #Options{
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding:10px;
  }

  #Personnality button{
    background-color: #25a4ff60;
    border-radius: 20px;
    margin-top:10px;
    padding: 10px 20px;
    border : none;
    display: inline-block;
    cursor: pointer;
    
  }



  .auto{
    margin-right:5rem;
  }

  
  #Personnality button:focus {
    background-color:  #25a4ffc5;
}

  #Personnality button:hover {
    background-color:  #25a4ffc5;
  }

  #divhide{
    justify-items: center;
    align-items: center;
  }
  #divhide h3{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top : 20px;
    
  }
 .calm :hover{
  background-color:  #25a4ffc5;
 }

 .calm :focus {
  background-color:  #07131bc5;
}
 
#Options {
  display: flex;
  flex-direction: column;
}

#Options label{
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#Options input {
  margin-bottom: 10px;
  width:100%;
}

#Options button {
  background-color: #25a4ff60;
  border-radius: 20px;
  margin-top:10px;
  padding: 10px 20px;
  align-self: center;
  border : none;
  display: inline-block;
  cursor: pointer;
  width :50%
}

#Options p{
  text-align: end;
  font-size: 15px;
  margin-bottom: 0.25rem;
}
  
  @media (min-width: 768px) {
    .home {
      flex-direction: row;
      justify-content: space-around;
    }
    
    #gauche {
      margin-right: 60px;
    }
    
    .droite {
      flex-grow: 1;
    }
  }
  
  @media (max-width: 767px) {
    #gauche {
      order: 2;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    #launch {
      order: 3;
    }
  }
  