.perfo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#tradeinfo,
#longtradeinfo,
#shorttradeinfo {
  width: 100%;
  margin-bottom: 30px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.gauche {
  margin-bottom: 2rem;
  height: 100%;
}


#balance{
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #25a4ffc5;
  color:white;
 
}
#balance p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

#currencies,
#running,
#place,
#generalinfo{
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7f7;
} 


#title {
  font-size: 2rem;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 1rem;
  margin-top: 0;
}

#tableau {
  border-collapse: collapse;
  width: 100%;
  margin-top:1rem;
}

#tableau th,
#tableau td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
}

#tableau th {
  background-color: #f2f2f2;
}

#running p,
#place p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0;
}

#droite h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 1rem;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .perfo {
    flex-direction: row;
    align-items: flex-start;
  }

  .gauche,
  #droite {
    width: 50%;
  }

  .gauche {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  #droite {
    margin-left: 2rem;
    margin-bottom: 0;
  }
}
